.account__page .payment .payment__header {
  margin-bottom: 20px
}
.account__page .payment .payment__header > * {
  font-weight: 400;
  margin-bottom: 0
}
.account__page .payment .payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 1.25rem
}
.account__page .payment .payments .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.5625rem
}
.account__page .payment .payments .item .item__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  border: 1px solid var(--body-text)
}
@media(min-width:576px) {
  .account__page .payment .payments .item .item__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 114px;
    flex: 0 0 114px
  }
}
.account__page .orders .orders__header .nav {
  margin-bottom: 15px
}
@media(min-width:768px) {
  .account__page .orders .orders__header .nav {
    margin-bottom: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 25px
  }
}
.account__page .orders .orders__header .nav .nav__item {
  margin-bottom: 10px
}
.account__page .orders .orders__header .orders__status {
  font-size: clamp(1.875rem,2.7vw,2.5rem);
  margin-bottom: 20px
}
.account__page .orders .orders__success .orders__success_header {
  margin-bottom: 20px;
  font-size: clamp(20px,1.7vw,28px);
  line-height: 140%
}
.account__page .orders .orders__success .orders__success_text {
  margin-bottom: 40px;
  line-height: 25px
}
.account__page .orders .orders__success .orders__success_text a {
  color: inherit
}
.account__page .status {
  display: inline-block;
  font-size: .875rem;
  font-weight: 700;
  padding: .1875rem .9375rem;
  border: 2px solid transparent
}
.account__page .status.is-waiting {
  border-color: var(--body-text)
}
.account__page .status.is-error,
.account__page .status.is-success {
  color: #fff
}
.account__page .status.is-error {
  background: var(--color-error);
  border-color: var(--color-error)
}
.account__page .status.is-success {
  border: 2px solid var(--color-success);
  background: var(--color-success)
}
.account__page .account__exit {
  margin-bottom: 1.25rem
}
@media(min-width:768px) {
  .account__page .account__exit {
    margin-bottom: 2.5rem;
    text-align: right;
    padding-right: .625rem
  }
}
.account__page .account__exit_link {
  color: inherit
}
.account__page .accountCatalog .item {
  height: 100%;
  border-radius: .8125rem;
  border: 1px solid var(--color-secondary);
  padding: 1.25rem;
  display: block;
  text-align: center;
  color: inherit;
  text-decoration: none
}
.account__page .accountCatalog .item__text,
.account__page .accountCatalog .item__title {
  display: block
}
.account__page .accountCatalog .item__title {
  font-size: 1.125rem;
  margin-bottom: 10px
}
.account__page .accountCatalog .item__text {
  font-weight: 300;
  font-size: .75rem
}
.account__page .accountCatalog .item__image {
  margin-bottom: .9375rem
}
.account__page .accountCatalog .item:hover {
  padding: 1.875rem 1.5625rem;
  border-width: 2px;
  border-color: var(--color-main)
}
@media(min-width:576px) {
  .account__page .accountCatalog .item {
    padding: 1.9375rem 1.625rem
  }
  .account__page .accountCatalog .item__title {
    font-size: 1.5625rem
  }
  .account__page .accountCatalog .item__text {
    font-size: 1rem
  }
}
@media(max-width:1199.98px) {
  .account__page .accountCatalog .col-12:not(:last-child) {
    margin-bottom: .9375rem
  }
}
.account__page .ordersGrid .group {
  border-radius: .8125rem;
  border: 1px solid #b9b9b9;
  margin-bottom: 1.875rem;
  overflow: hidden
}
.account__page .ordersGrid .group .btn {
  font-weight: 400;
  font-size: 1rem;
  max-height: 3.375rem
}
.account__page .ordersGrid .group .group__header {
  background: #f2f2f2;
  padding: 1rem;
  font-weight: 500
}
.account__page .ordersGrid .group .group__header_title {
  font-size: .75rem
}
.account__page .ordersGrid .group .group__header_date {
  font-size: .75rem;
  font-weight: 400;
  color: #8b8486
}
@media(min-width:768px) {
  .account__page .ordersGrid .group .group__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 1.25rem
  }
  .account__page .ordersGrid .group .group__header_title {
    font-size: inherit
  }
  .account__page .ordersGrid .group .group__header_date {
    font-weight: inherit;
    font-size: inherit
  }
}
.account__page .ordersGrid .group .group__content {
  padding: 1rem
}
.account__page .ordersGrid .group.is-success .group__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.account__page .ordersGrid .group.is-success .group__content .fields {
  margin-bottom: 0
}
.account__page .ordersGrid .fields:not(:last-child) {
  margin-bottom: 1.6875rem
}
.account__page .ordersGrid .fields .fields__item p {
  margin: 0
}
.account__page .ordersGrid .fields .fields__item:not(:last-child) {
  margin-bottom: 10px
}
.account__page .ordersGrid .fields .fields__item--title {
  font-weight: 700;
  font-size: .8125rem;
  color: var(--color-success)
}
.account__page .ordersGrid .fields .fields__item--status {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: .625rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.account__page .ordersGrid .fields .fields__item--hint {
  color: #888
}
.account__page .ordersGrid .fields .fields__item--hint,
.account__page .ordersGrid .fields .fields__item--more {
  font-size: .8125rem
}
.account__page .ordersGrid .fields .fields__item--more {
  padding: .625rem .9375rem .625rem 0
}
.account__page .ordersGrid .fields .fields__item--more a {
  color: inherit
}
.account__page .ordersGrid .fields--buttons .btn {
  width: 100%
}
@media(min-width:576px) {
  .account__page .ordersGrid .fields--buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1rem
  }
  .account__page .ordersGrid .fields--buttons .fields__item {
    margin-bottom: 0
  }
  .account__page .ordersGrid .fields--buttons .fields__item--cancel {
    margin-left: auto
  }
}
.account__page .ordersGrid .fields__group--preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px
}
.account__page .ordersGrid .fields__group--preview .fields--preview {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 0
}
.account__page .ordersGrid .fields__group--preview .fields--buttons {
  margin-left: auto
}
.account__page .ordersGrid .fields__group--detailed {
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  -webkit-transition: all .3s;
  transition: all .3s
}
.account__page .ordersGrid .fields__group--detailed.is-open {
  visibility: visible;
  height: auto;
  opacity: 1;
  padding-top: 20px
}
.account__page .ordersGrid .order__info .item__label {
  font-weight: 700;
  color: var(--color-main);
  font-size: 13px
}
.account__page .ordersGrid .order__info .item__value {
  font-weight: 700
}
@media(max-width:575.98px) {
  .account__page .ordersGrid .order__info .item__buttons .item__buttons_item:not(:last-child) {
    margin-bottom: 10px
  }
  .account__page .ordersGrid .order__info .item__buttons .btn {
    width: 100%
  }
}
@media(min-width:576px) {
  .account__page .ordersGrid .order__info .item__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
}
@media(max-width:1199.98px) {
  .account__page .ordersGrid .order__info .item__col {
    margin-bottom: 15px
  }
}
@media(min-width:1200px) {
  .account__page .ordersGrid .order__info .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .account__page .ordersGrid .order__info .item__label {
    margin-bottom: 14px
  }
}
@media(max-width:1199.98px) {
  .account__page .ordersGrid .order__info--detailed .item__label {
    margin-bottom: 20px
  }
}
@media(min-width:576px) {
  .product__table .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px
  }
}
.product__table .item:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f2f2f2
}
@media(min-width:576px) {
  .product__table .item .item__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px
  }
}
@media(max-width:575.98px) {
  .product__table .item .item__image {
    width: 100px;
    margin-bottom: 15px
  }
}
.product__table .item .item__image_src {
  width: 100%;
  border: 1px solid var(--body-text)
}
.product__table .item .item__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}
@media(min-width:1200px) {
  .product__table .item .item__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 20px
  }
}
@media(min-width:576px) {
  .product__table .item .item__content .fields__item:not(:last-child) {
    margin-bottom: 0
  }
}
.product__table .item .item__content .fields__item p {
  margin: 0
}
@media(min-width:1200px) {
  .product__table .item .item__content .fields__item--buttons {
    margin-left: auto
  }
}
@media(max-width:1199.98px) {
  .product__table .item .item__content .fields__item--buttons {
    padding-top: 20px
  }
}
.product__table--short .fields__item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}
.product__table--full .item--header {
  display: none
}
@media(min-width:1200px) {
  .product__table--full .item--header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 700;
    font-size: 13px
  }
}
.product__table--full .fields__item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}
.product__table--full .fields__item--name {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%
}
.product__table--full .fields__item a {
  color: inherit;
  text-decoration: none
}
.product__table--full .fields__item a:hover {
  text-decoration: underline
}
@media(max-width:1199.98px) {
  .product__table--full .fields__item {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px
  }
  .product__table--full .fields__item::before {
    display: block;
    content: attr(data-title);
    font-weight: 400;
    color: var(--color-main)
  }
}
@media(max-width:575.98px) {
  .product__table--full .fields__item {
    display: block
  }
  .product__table--full .fields__item:not(:last-child) {
    margin-bottom: 3px
  }
}
.group__summary {
  margin-bottom: 15px
}
@media(min-width:1200px) {
  .group__summary .table {
    width: 35%;
    margin-left: auto
  }
}
.group__summary .table .table__col:first-child {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 180px;
  flex: 0 0 180px
}
.group__summary .table .table__col:last-child {
  text-align: right;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}